{% extends 'shahzodspace/base.html' %}


    {% block content %}

    {% block sidebar %}
    {% include 'shahzodspace/sidebar.html' %}
    {% endblock %}

    <style>
/* Стили для модального окна */
.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed; /* Оставаться на месте при прокрутке */
  z-index: 1000; /* Положение над другими элементами */
  padding-top: 100px; /* Место сверху */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Включить прокрутку, если необходимо */
  background-color: rgb(0,0,0); /* Цвет фона */
  background-color: rgba(0,0,0,0.9); /* Черный с небольшой прозрачностью */
}

/* Стили для изображения внутри модального окна */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Стили для закрытия модального окна (крестик) */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* Добавьте анимацию - увеличение изображения с середины/центра */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
    </style>

   <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">

  <!-- Модальное окно для полноразмерного изображения -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>

  <!--  Main wrapper -->
  <div class="body-wrapper">
    <h1 class="text-center">Список товаров</h1>
    <div class="container-fluid">
      <form method="get" class="form-list w-100">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Поиск по наименованию..." name="search" value="{{ request.GET.search }}">
            <input type="text" class="form-control" placeholder="Поиск по номеру товара..." name="item_number" value="{{ request.GET.item_number }}">  <!-- Добавляем поле поиска по номеру товара -->  
            <input type="text" class="form-control" placeholder="Поиск по модели..." name="model" value="{{ request.GET.model }}">
            <select name="category" class="form-select">
                <option value="">Все категории</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id|stringformat:"s" == current_category %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-outline-secondary" type="submit">Фильтровать</button>
            <a href="{% url 'export_products' %}" class="btn btn-success">Экспорт в Excel</a>
            <a href="{% url 'product_add' %}" class="btn btn-primary">Добавить товар</a>
        </div>
    </form>
    
      

        <!-- Вид в виде списка (текущий) -->
        <table style="margin-top: 50px;" class="table">
        <thead>
            <tr>
                <th>Изображение</th>
                <th>Номер товара</th>
                <th>Наименование</th>
                <th>Категория</th>
                <th>Модель</th>
                <th>Количество</th>
                <th>Цена закупки</th>
                <th>Цена продажи</th>
                <th>Действия</th> 
            </tr>
        </thead>
        <div id="list-view" class="product-list">
        <tbody>
        {% for product in products %}
         <!-- Текущий HTML для списка -->
         <div class="list-item">
            <tr>
                <td><img  id="myImg" src="{{ product.photo.url }}" alt="{{ product.name }}" class="product-photo"></td>
                <td>{{ product.item_number }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category.name }}</td>
                <td>{{ product.model }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.purchase_price }}</td>
                <td>{{ product.selling_price }}</td>
                <td>
                    <!-- Кнопка редактирования -->
                    <a href="{% url 'product_edit' product.id %}" class="btn btn-sm btn-primary"><i class="bi bi-pencil-square"></i></a>
                    <!-- Кнопка удаления -->
                    <form class="m-1" action="{% url 'product_delete' product.id %}" method="post" style="display: inline-block;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger"><i class="bi bi-trash3-fill"></i></button>
                    </form>
                    <td>
                        <a href="{% url 'sell_product' product.pk %}" class="btn btn-success"><i class="bi bi-cart-plus-fill"></i></a>
                    </td>
                </td>
            </tr>
        </div>
        </tbody>
        {% endfor %}


        <script>
           document.addEventListener('DOMContentLoaded', function () {
  var modal = document.getElementById('myModal');
  var images = document.getElementsByClassName('product-photo');
  var modalImg = document.getElementById('img01');
  var captionText = document.getElementById('caption');
  var span = document.getElementsByClassName('close')[0];

  Array.from(images).forEach(function (img) {
    img.onclick = function () {
      modal.style.display = 'block';
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
  });

  span.onclick = function () {
    modal.style.display = 'none';
  }
});

        </script>
    </div>
</table>
    {% endblock %}

