{% extends 'shahzodspace/base.html' %}


 <!--  Body Wrapper -->
 <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
 data-sidebar-position="fixed" data-header-position="fixed">
 <!--  Main wrapper -->
 <div class="body-wrapper">
   <div class="container-fluid">
         <h1>Подписка необходима</h1>
         <p>Ваш пробный период закончился. Пожалуйста, оформите подписку для продолжения использования сервиса.</p>
         <a href="{% url 'home' %}">Вернуться на главную</a>    
     </div>
   </div>
 </div> 